<h1>Welcome to your personalized todo list!</h2>
<h2>On your list:</h2>
<%= link_to 'Create Todo', new_todo_path %>
<hr />

<% @todos.each do |todo| %>
  <h3><%= todo.todo %></h3>
  <%= link_to 'View More', todo_path(todo) %>
  <%= link_to 'Edit', edit_todo_path(todo) %>
  <%= link_to 'Delete', todo, method: :delete %>
<% end %>
